@{
	ViewData["Title"] = "Contacts List";
}

<div class="text-center">
	<div class="d-flex justify-content-around">
		<h3 class=" display-4">Do you really want to delete the contact? (CONTACT NAME)</h3>
	</div>
</div>

<a class="btn btn-primary btn-block" role="button" asp-controller="Contact" asp-action="ConfirmDel">Confirm</a>
<a class="btn btn-secondary btn-block" role="button" asp-controller="Contact" asp-action="Index">Cancel</a>